body {
    background-image: url("../images/brick.png");
    background-size: 100px;
}

header {
    margin-top: 5px;
    background-color: white;
    border-style: solid;
    border-color: red;
    border-width: 10px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    color: red;
    text-align: center;
}

header h2 {
    font-size: 1em;
}

#main-content {
    margin-top: 20px;
}

img {
    width: 90%;
}

section {
    background-color: white;
}