body {
    background-image: url("../images/brick.png");
    background-size: 100px;
    font-family: 'Press Start 2P', cursive;
}

header {
    margin-top: 10px;
    background-color: white;
    border-style: solid;
    border-color: red;
    border-width: 10px;
    border-radius: 20px;
    color: red;
    text-align: center;
}

header h2 {
    font-size: 1em;
}

#main-content {
    margin-top: 20px;
}

img {
    width: 90%;
}

section {
    background-color: white;
    border: 30px solid transparent;
    border-image: url("../images/box.png") 30 repeat;
    color: red;
}

#spacer {
    height: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-image: url("../images/grass.png");
    background-repeat: repeat-x;
    text-align: center;
}

footer p {
    margin-top: 40px;
}